/* haskell: 6bcade / 6a6bd8 */

body {
  font-size: 9pt;
  font-family: sans-serif;
  margin: 0 0;
  background-color: #EFF6FF;
  background-image: url("../images/bg.jpg");
/*  background-repeat: repeat-x;*/
  background-attachment: fixed;
  color: #555;
}

pre {
  background-color: #EEE;
  width: 690px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #6a6bd8; /*#49F;*/
  font-weight: bold;
}

a:hover {
  color: #6bcade;/*#9CF;*/
}

#positioner {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

#header {
  background-color: #FFF;
  height: 287px;
  border-bottom: 1px solid silver;
}

#headimg {
  height: 250px; /*213px*/
  background-image: url(../images/header.jpg);
}

#menu {
  height: 30px;
  background-color: #EEE;
  text-align: center;
  padding-top: 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.menuitem {
  padding-left: 19px;
  padding-right: 19px;
  height: 25px;
}

.menuitem > a {
  font-size: 13pt;
  font-weight: bold;
}

.menuspacer {
  border-left: 1px solid silver;
}

#main {
  min-height: 400px;
  padding: 5px;
  padding-top: 10px;
  background-color: #FFF;
}

#leftlcr, #leftlc {
  float: left;
  text-align: right;
  padding-right: 10px;
  padding-left: 5px;
  width: 150px;
}

#lefthead, .righthead {
  font-size: 11pt;
  font-weight: bold;
  padding-right: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed silver;
  margin-bottom: 5px;
}

#lefthead {padding-right: 10px;}


.leftlink {
  line-height: 2em;
  text-align: center;
  background-color: #EEE;
  margin-top: 5px;
}

.leftlink1 {
  line-height: 1.5em;
  font-size: 8pt;
  padding-right: 3px;
}
.leftlink1 a {font-weight: normal;}

#mainlcr {
  margin-left: 165px;
  margin-right: 165px;
}

#mainlc {
  margin-left: 165px;
  margin-right: 5px;
}

.contenthead, .contenthead1 {
  padding-bottom: 3px;
  border-bottom: 1px dotted silver;
  margin-bottom: 3px;
  font-weight: bold;
  color: #6a6bd8; /*#49F;*/
}

.contenthead {
  padding-left: 4px;
  font-size: 14pt;
}

.contenthead1 {
  padding-left: 8px;
  font-size: 12pt;
}

.contentbody {
  padding: 8px;
  /*text-align: justify;*/
  margin-bottom: 20px;
}

#rightlcr {
  float: right;
  width: 150px;
}

.rightbody{
  padding-bottom: 12px;
  padding-left: 5px;
}

.code {
  border: 1px solid #DAA;
  margin-top: 0px;
}

.shell {
  border: 1px solid #AAF;
}

.codei {
  font-family: monospace;
  /*background-color: #E5E9F5;*/
  font-size: 8pt;
  font-weight: bold;
}

.img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.note:before {
  content: "Note: ";
  color: #555;
  font-weight: bold;
}
.note {
  font-size: 7pt;
  color: #777;
}

.filehead {
  background-color: #CCC;
  margin-right: 2px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#history th {
  text-align: left;
  background-color: #BBB;
  padding-left: 2px;
}

.history {
  background-color: #CCC;
  height: 18px;
  font-size: 10pt;
}

.history td {
  margin-left: 2px;
  padding-left: 3px;  
  padding-top: 2px;
  background-color: #DDD;
}

.historyName {
  width: 350px;
}

.historyVersion, .historySize, .historyLink {
  text-align: right;
  padding-right: 5px;
  width: 110px;
}

.historyLink {
  margin-top: 2px;
}

#footer {
  height: 40px;
  /*margin-bottom: 10px;*/
  padding: 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: #EEE;
  color: #777;
  line-height: 1.8em;
  
}

#copyright, #contact {
  float: right;
}

#credit {
/*  float: ;*/
}

/* 
 * Application error message formating 
 */
.notice {
  border: 2px solid green;
  margin-bottom: 2px;
  padding: 5px;
  margin-left:0.5%;
  margin-right:0.5%;
  background-color: #f0f0f0;
  font-weight: bold;
}

.error {
  border: 2px solid red;
  margin-bottom: 2px;
  padding: 5px;
  margin-left:0.5%;
  margin-right:0.5%;
  background-color: #f0f0f0;
  font-weight: bold;
}

#errorExplanation {
  margin-left:0.5%;
  margin-right:0.5%;  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
