/*
   $Id: style.css,v 1.26 2007/01/15 01:01:06 winf2370 Exp $
   $Author: winf2370 $
*/

form {
  border: 1px solid silver;
  width: 200px;
  padding: 8px;
}

table {
  background-color: #BBB;
  border: 0px;
  text-align: center;
}

.user {
  background-color: #CCC;
}

tr {border: 0px;}

th {padding: 3px;}

td {
  padding: 3px;
  border-top: 1px solid #AAA;
}

td.uname{text-align: left;}

.uname {width: 180px;}
.udate {width: 180px;}
.ustudent {width: 100px;}
.ututorial {width: 100px;}
.uworkshop {width: 100px;}
.uparty {width: 100px;}

#logindiv {
  margin-left: 250px;
}

#regdiv {
  float: left;
}

#forms {height: 250px;}

/*flashs*/
.notice {
  border: 2px solid green;
  margin-bottom: 2px;
  padding: 5px;
  margin-left:0.5%;
  margin-right:0.5%;
  background-color: #f0f0f0;
  font-weight: bold;
}

.error {
  border: 2px solid red;
  margin-bottom: 2px;
  padding: 5px;
  margin-left:0.5%;
  margin-right:0.5%;
  background-color: #f0f0f0;
  font-weight: bold;
}

#errorExplanation {
  margin-left:0.5%;
  margin-right:0.5%;  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
